{% extends "./layout/base.html" %}

{% block title %} | Documentation {% endblock title %}

{% block content %}

	<div style="background-color: #fff; margin-top: 80px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 style="font-family: Roboto Regular; letter-spacing: 5px; margin-top: 50px;">TREECO DOCUMENTATION</h1>
					<h4><i>Library documentation page</i></h4>
				</div>
			</div>
		</div>
	</div>

	<div style="background-color: #fff;">
		<div class="container">
			<div class="row" style="margin: 0; height: 500px;">
				<div class="col-md-offset-4 col-md-4 text-center" style="position: relative; top: 200px;">
					<h2 style="font-family: Roboto Light; letter-spacing: 10px;">COMING SOON</h2>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}